<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <a href="/" class="botonHome">Volver al home</a>
    <h1>Arthur C. Clarke</h1>
    <h2>¿Quién fue él?</h2>
    <img src="img/clarke.jpg" alt="">
    <p>Escritor británico, autor de notables novelas y relatos de ciencia ficción en las que destaca la presencia de una cierta reflexión de talante filosófico. Interesado por la ciencia desde niño, no dispuso de recursos para seguir una carrera universitaria. Su participación en la Segunda Guerra Mundial, alistado en la Royal Air Force, le permitió sin embargo entrar en contacto con la nueva tecnología del radar.  </p>
</body>
</html>