<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <a href="/" class="botonHome">Volver al home</a>
    <h1>Grace Hopper</h1>
    <h2>¿Quién fue ella?</h2>
    <img src="img/hopper.jpg" alt="">
    <p>Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I. Entre las décadas de los 50 y 60 desarrolló el primer compilador para un lenguaje de programación así como también propició métodos de validación</p>
</body>
</html>