<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="bodyHome">
    <h1 class="tituloHome">Bienvenidx a lxs heroes de Digital House </h1>

    <h2>Elige a quién deseas conocer:</h2>
    <ul>
        <li >
            <!--<h3>Charles Babbage</h3>-->
            <a href="/babbage">Charles Babbage</a>
        </li>
        <li>
            <!--<h3>Tim Berners-Lee</h3>-->
            <a href="/berners-lee">Tim Berners-Lee</a>
        </li>
        <li>
            <!--<h3>Arthur C. Clarke</h3>-->
            <a href="/clarke">Arthur C. Clarke</a>
        </li>
        <li>
            <!--<h3>Margaret Hamilton</h3>-->
            <a href="/hamilton">Margaret Hamilton</a>
        </li>
        <li>
            <!--<h3>Grace Hopper</h3>-->
            <a href="/hopper">Grace Hopper</a>
        </li>
        <li>
            <!--<h3>Ada Lovelace</h3>-->
            <a href="/lovelace">Ada Lovelace</a>
        </li>
        <li>
            <!--<h3>Alan Turing</h3>-->
            <a href="/turing">Alan Turing</a>
        </li>   
    </ul>   
</body>
</html>